* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: blue;
}

header {
    width: 100%;
    background: linear-gradient(to right, rgb(95, 95, 95), black, rgb(95, 95, 95));
    text-align: center;
}

.neon {
    font-size: 300%;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 2%;
    color: white;
    width: 100%;
    text-shadow: 0 0 15px rgb(15, 50, 255), 0 0 30px rgb(15, 50, 255), 0 0 50px rgb(15, 50, 255);
}

.container {
    text-align: center;
    padding: 1em;
    color: white;
}

h2 {
    font-family: "Anta", sans-serif;
    font-weight: 300;
}

p {
    font-family: "Anta", sans-serif;
}

footer {
    height: auto;
    width: 100%;
    padding: 2%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: linear-gradient(to right, rgb(95, 95, 95), black, rgb(95, 95, 95));
}

.neon-2 {
    margin-left: 2%;
    font-size: 1.5em;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 100%;
    text-shadow: 0 0 15px rgb(15, 50, 255), 0 0 30px rgb(15, 50, 255), 0 0 50px rgb(15, 50, 255);
}

.iconos {
    margin-left: 1%;
    margin-right: 1%;
}