* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkblue;
    height: 100%;
}

main {
    min-height: 100%;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    background: linear-gradient(to right, blue, rgb(0, 0, 85));
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    width: 100%;
    height: 80px;
}

.container {
    width: 100%;
    height: 100%;
}

h1 {
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 27px;
    color: white;
    width: 75%;
    margin-top: 22px;
}

.logo {
    position: absolute;
    right: 10px;
    top: 10px;
    border: solid 1px black;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.buttom {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 900;
}

.navegacion {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    background: linear-gradient(to right, blue, rgb(0, 0, 85));
    text-align: right;
    width: 100%;
    height: 25px;
    padding: 3px;
}

h2 {
    font-size: 30px;
}

.contacto {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: white;
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
    width: auto;
    border-radius: 15px;
    background-color: white;
    background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url(img/fondo-contacto.jpg);
    background-size: cover;
}

.container-2 a {
    color: white;
}

.pie {
    padding: 20px;
    background-color: rgb(20, 20, 20);
    width: 100%;
}

.izquierda {
    float: left;
}

.derecha {
    float: right;
}

.pie::after {
    content: "";
    clear: both;
    display: table;
}

.pie a {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(150, 150, 150);
    text-decoration: none;
}