* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 180);
    height: 100%;
}

main {
    min-height: 100%;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    background: linear-gradient(to right, blue, rgb(0, 0, 85));
    border: solid 1px black;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    height: 100%;
}

h1 {
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 83%;
    height: auto;
    margin-top: 5px;
}

.logo {
    position: absolute;
    right: 4px;
    top: 4px;
    border: solid 1px black;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

h2 {
    font-size: 30px;
}

.contacto {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: white;
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
    width: auto;
    border-radius: 15px;
    background-color: white;
    background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url(img/fondo-contacto.jpg);
    background-size: cover;
}

.container-2 a {
    color: white;
}

.pie {
    padding: 15px;
    background-color: rgb(20, 20, 20);
    width: 100%;
}

.izquierda {
    float: left;
}

.derecha {
    float: right;
}

.pie::after {
    content: "";
    clear: both;
    display: table;
}

.pie a {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(150, 150, 150);
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

@media only screen and (max-width: 380px) {
    header {
        height: 65px;
    }

    h1 {
        margin-top: 3px;
        font-size: 25px;
    }

    .logo {
        width: 57px;
        height: 57px;
    }
}

@media only screen and (max-width: 325px) {
    header {
        height: 55px;
    }

    h1 {
        font-size: 20px;
        margin-top: 3px;
    }

    .logo {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 2px;
        top: 2px;
    }

    .titulos {
        font-size: large;
    }

    .parrafo {
        font-size: x-small;
    }

    .pie {
        padding: 10px;
    }

    .pie a {
        font-size: small;
    }
}

@media only screen and (orientation: landscape) {
    header {
        height: 105px;
    }

    h1 {
        margin-top: 3px;
        font-size: 45px;
    }

    .logo {
        width: 95px;
        height: 95px;
    }
}